Functional Specifications/Requirements:

1. Must have a navigation method on every page to get to the homepage (index)
	TEST:
	Give it to a non tech person and see if they can use it

2. The navigation bar should provide functionality to access the four other pages; “Reducing footprint at home”, “reducing footprint in travel”, “quiz” and “contact us”
	TEST:
	See as above

3. No text on the website should be smaller than 12px for accessibility.  (Client requirement “Accessible”)
	TEST:
	make sure this doesnt happen (CTRL+F then 12px)

4. There should be CSS conditions for scaling at 1920x1080, 1440 & 4K.
	TEST:
	reneder at these resolutions

5. There should be separate CSS conditions for mobile devices entirely.
	TEST:
	load it on a few phones

6. Assets and content should not be hidden on any kind of device due to scaling.
	TEST:
	load it on different devices

7. The quiz should be accessible from more than one place on the website.
	TEST:
	write down different places it happens

8. The quiz should save the previous 5 scores of the user as a cookie client-side.
	TEST:
	run through the quiz 5x and see if they all save

9. The quiz should pertain a pool of at least 20 randomised questions, of which 5 are chosen at random.
	TEST:
	run it twice and see if the questions are different

10. The next time the user tries the quiz, questions that have just recently been asked should be made less likely to appear the following attempt.
	TEST:
	run it twice and see if they dont appear/only 1 does etc

11. The users score should go to a global scoreboard, server-side.
	TEST:
	peep into whatever is storing it and check its updated

12. The user should be prompted to provide a username, and nothing more, to represent them on the scoreboard.
	TEST:
	check the input works as expected

13. The user should have the option to save anonymously.
	TEST:
	Check that leaving the name box empty works

14. The website should employ the use of location data to provide the user an interesting fact gathered from the weather data of their current location. “I.e., It’s 2°C where you are! The average heating bill in this weather is £10 a day and produces up to 30kg in CO2”
	TEST:
	get someone with a VPN to try different locations

15. The background design and graphics should reflect the time of the day the user is accessing the website at. With a night time background and a change in colour pallet to the website. (Client requirement “Interactive”)
	TEST:
	check with different locale times

16. No one paragraph of text should exceed 50 words. (Client requirement “Concise”)
	TEST:
	paste it into a word document and see the wordcount
