

.titleimage {
   position: relative;
   text-align: center;
    color: black;
    font-size: 40px;
    text-shadow: 1px 0 0 white
    , 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
}

.intro{
  margin-left: 10%;
}
.content-list{
  margin-left: 10%;
}

div ul li a {
  color: black;
  font-size: h2;
}
/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 20%;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Bottom center text */
.bottom-center {
    position:absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%)
}
/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*image in line with text */
.image-inline {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center; 
    grid-template-columns: auto;
    column-gap: 2%;
   }
   
   img {
     width: auto;
   }
   
   .text {
     font-size: auto;
   }